 .kpop011 {padding: 30px; 
    margin-bottom: 0px; 
    margin-top: -50px; 
    text-align:justify; 
    width: 370px; 
    background-color: #FFF; 
    border-radius: 85px; 
    border-color: #CD950C;
    border-style: double;}   
   
.kpop { font-size: 11.5px; 
    line-height: 200%; 
    color: #000;
    font-family: 'Old Standard TT', serif;  
    white-space:pre-line; 
    margin-top: 20px; 
    padding: 20px;}
    
.kpop:first-letter {float: left; 
    margin: 20px 25px 20px 15px;
    color: #CD950C;
    text-transform: uppercase; 
    font-family: 'Old Standard TT', serif; 
    font-size: 35px; 
    font-weight: bold; }

.kpop k { color:  #CD950C; 
    font-weight: bold;
    font-family: arial;
    font-size: 11.5px; }
    
.kpop0114 {background-color: transparent;
    background-position: top; 
    width: 560px; 
    background-repeat: no-repeat; 
    padding-left: 0px; 
    padding-right: 0px; 
    padding-bottom: 30px; 
    padding-top: 200px; 
    background-image: url(https://i.imgur.com/gkX9422.png);}
  
.gif-kpop {box-shadow: 0px 1px 30px 1px #fff; 
    width: 150px; height: 150px; 
    background-position: center; 
    position: relative; 
    top: -120px; 
    position: relative; 
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); 
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-image: url(https://i.imgur.com/lIYX1U2.gif);}
    
.cred { width: 470px; 
    font: 8px/12px 'Old Standard TT', serif; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    position: relative; 
    top: -290px; 
    color: #CD950C;  
    -moz-transform: rotate(-90deg); 
    -o-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    -ms-transform: rotate(-90deg); 
    margin-left: 420px;}
  
.kpopnpc2 { float: left; display: inline-block; width: 200px; background-color: transparent;  text-align:left; padding: 0px 20px 0px 0px; border-right:1px dotted #CD950C; margin-right: -30px; }
  
.kpopnpc3 {color: #CD950C; font-family:arial; font-size: 100px; line-height:0px;  margin-top: 80px; margin-bottom: 65px; text-align: right;}
  
.kpopnpc4 {color: #CD950C; font-family: 'Old Standard TT', serif;  font-size: 10px; letter-spacing: 1.2px;  word-spacing: 0px; line-height: 20px;  text-transform: uppercase; margin-top: -10px; text-align: right;}
  
.kpopnpc6 {background-color: transparent; font-family: 'Old Standard TT', serif; font-size: 8.5px; line-height: 8px; text-align:justify; text-transform: none; padding: 20px 25px; border:0px; margin-left: 220px; white-space: pre-line;}
